:root {
  /* Brand Colors */
  --primary-color: #2563EB; /* Xanh chủ đạo */
  --primary-color-dark: #1E3A8A; /* Xanh đậm */
  --primary-color-light: #EFF6FF; /* Xanh nhạt */

  /* Background Colors */
  --bg-white: #FFFFFF; /* Nền chính */

  /* Text Colors */
  --text-primary: #111827; /* Màu chữ chính */
  --text-secondary: #6B7280; /* Màu chữ phụ */
  --text-on-primary: #FFFFFF;

  /* Action & Status Colors */
  --danger-color: #D9534F;
  --price-color: #d72828;

  /* Border & Shadow */
  --border-color: #6B7280;
  --shadow-color-light: rgba(0, 0, 0, 0.05);
  --shadow-color-medium: rgba(0, 0, 0, 0.1);
}